html, body, main {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslateblue;
}

body {
  height: 100vh;
}

main {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: start center;
}

main > img {
  height: 50%;
  animation: spinWheel 4s linear infinite;
  transform-origin: center;
}

@keyframes spinWheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
